body {
	margin: 0;
	overflow-x: hidden;
}

ul {
	list-style: none;
	margin: 0;
	padding-top: 6%;
	display: inline-block;

}

li {
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
	display: inline-block;
	padding: 0 20px;
	color: white;
	cursor: pointer;
}
a {
	color: black;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

.container {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}
.logo {
	width: 75px;
	position: absolute;
	top: 0%;
	left: 1%;
	display: inline-block;
	z-index: 100000;
	position: fixed;

}

.t {
	color: white;
	text-decoration: none;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

.nav-bar {
	position: fixed;
	background-color: white;
	width: 100%;
	margin: 0 auto;
	height: 80px;
	z-index: 10000;	
}

.nav {
	display: inline-block;
	vertical-align: top;
	width: 35%;
	margin: 0 auto;
	margin-left: 5%;
	overflow-x: hidden;
}

.log {
	display: inline-block;
	color: black;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
	width: 10%;
	padding-left: 45%;
	padding-top: 30px;
	cursor: pointer;
	overflow-x: hidden;
}

.home {
	height: 100vh;
	background: url("track.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.grey-box {
	width: 80%;
	/*max-width: ;*/
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 25%;
	height: 400px;
	background-color: rgba(32,32,32,0.8);
}


.title {
	color: white;
	font-size: 80px;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	margin-bottom: 0;
}

.subtitle {
	color: white;
	font-size: 30px;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
}

.button-wrapper {
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
}

.button1, .button2 {
	width: 200px;
	margin: 0 auto;
	display: inline-block;
	border: 4px solid;
	padding: 20px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	font-size: 25px;
	cursor: pointer;
}

.button1 {
	border-color: #FF7F00;
	margin-right: 10%;
	margin-left: 17%;
}

.button2 {
	border-color: #00a1ca;
}

.about, .our-team, .contact, .why {
	width: 100%;
}

.about-title {
	display: inline-block;
	width: 50%;
	height: 100vh;
	vertical-align: bottom;
}

.about-info {
	display: inline-block;
	width: 50%;
	height: 100vh;
}

.icon {
	width: 30%;
	display: block;
	margin: 0 auto;
}

.wrapper p {
	text-align: center;
	font-family: 'Roboto slab', serif;
	width: 75%;
	font-size: 14px;
	margin: 0 auto;
	padding-top: 4px;
}

.row {
	width: 95%;
	margin: 0 auto;
	padding-top: 10%;
}

.wrapper {
	width: 50%;
	display: inline-block;
}

.title2 {
	padding-top: 45%;
	margin: 0;
	text-align: center;
	color: white;
	font-size: 100px;
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 0;
}

.w-title {
	padding-top: 45%;
	margin: 0;
	text-align: center;
	color: white;
	font-size: 80px;
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 0;
}

.left {
	height: 100vh;
	vertical-align: top;
}

.blue {
	color: #00a1ca;
}

.orange {
	color: #FF7F00;
}

.text-wrapper1 {
	width: 60%;
	margin: 0 auto;
	padding-top: 15%;
}
.text-wrapper p, .text-wrapper1 p {
	font-family: 'Roboto slab', serif;
	text-align: left;
}

.img1 {
	background: url("soccer.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img2 {
	background: url("swim.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img3 {
	background: url("basketball.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img4 {
	background: url("tennis.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.team {
	width: 90%;
	margin: 0 auto;
}

.team h1, .how h1, .mission h1 {
	text-align: center;
	font-size: 25px;
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 0;
}

.mission h1, .how h1 {
	color: #FF7F00;
}

.how {
	margin-top: 10%;
}

.jared, .grant {
	width: 100%;
	margin: 0 auto;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	padding-top: 10%;
}

.bio-text {
	width: 70%;
	display: inline-block;
}

.jared p, .grant p {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
	font-family: 'Roboto slab', serif;
}

.jared h1 {
	padding-top: 5%;
	margin-top: 0;
	color: #00a1ca;
}

.grant h1 {
	margin-top: 0;
	color: #00a1ca;
}

.profile {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
.contact_wrapper {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	padding-top: 5%;
}

.contact-form {
	width: 80%;
	margin: 0 auto;
	font-family: 'Fjalla One', sans-serif;
	color: black;
}

form {
	width: 100%;
	margin: 0 auto;
}

input[type="text"] {
	height: 24px;
	padding: 6px 10px;
	border: 2px solid black;
}
input[type="submit"] {
	display: block;
	width: 30%;
	margin: 0 auto;
	text-align: center;
	color: black;
	font-family: 'Fjalla One', sans-serif;
	border: 2px solid black;
	padding: 15px 0px;
	margin-top: 10px;
	font-size: 18px;
	-webkit-appearance: button;
    cursor: pointer;
    background-color: white;
}

input, textarea {
	font: inherit;
}

input[type="submit"]:hover {
	border-color: blue;
}

.contact-section .first-input {
    width: calc(100% - 40px);
}

input, textarea {
    margin-bottom: 1.5rem;
    width: calc(100% - 20px);
    padding: 6px 10px;
}

.contact-form h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	text-align: center;
	color: #FF7F00;
}

.name, .email, .phone, .message {
	font-size: 16px;
	font-family: 'Fjalla One', sans-serif;
	width: 100%;
}
.text-wrapper {
	width: 95%;
	margin: 0 auto;
	padding-top: 15%;
}

textarea {
	min-height: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid black;
}

.form_errors {
	color: red;
	text-align: center;
}

.message_sent {
	display: none;
	vertical-align: top;
	padding-top: 30%;
}
.sent {
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	color: #00a1ca;
}

.form_errors {
	color: red;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}

/*******************************
        MEDIA QUERIES          
*******************************/
    /**************
        NAV-BAR
    **************/
@media screen and (max-width: 1410px) {
	.nav {
		width: 40%;
	}
	.log {
		padding-left: 35%;
	}
}
@media screen and (max-width: 1235px) {
	.nav {
		width: 45%;
	}
	.log {
		width: 15%;
		padding-left: 30%;
	}
}
@media screen and (max-width: 1100px) {
	.nav {
		width: 50%;
	}
	.log {
		width: 15%;
		padding-left: 25%;
	}
}
@media screen and (max-width: 987px) {
	.nav {
		width: 60%;
	}
	.log {
		width: 20%;
		padding-left: 15%;
	}
}
@media screen and (max-width: 900px) {
	li {
		padding: 0 10px;
	}
	.nav {
		width: 50%;
	}
	.log {
		width: 17%;
		padding-left: 25%;
	}

}
@media screen and (max-width: 827px) {
	.nav {
		width: 55%;
	}
	.log {
		width: 20%;
		padding-left: 20%;
	}
}
@media screen and (max-width: 759px) {
	.nav {
		width: 60%;
	}
	.log {
		width: 20%;
		padding-left: 15%;
	}
}
@media screen and (max-width: 689px) {
	.nav {
		width: 65%;
	}
	.log {
		width: 20%;
		padding-left: 10%;
	}
}
@media screen and (max-width: 636px) {
	.nav {
		width: 70%;
	}
	.log {
		width: 20%;
		padding-left: 3%;
	}
}
@media screen and (max-width: 623px) {
	li {
		font-size: 20px;
	}
	.log {
		font-size: 18px;
	}
	ul {
		padding-top: 7%;
	}
}
@media screen and (max-width: 600px) {
	.logo {
		width: 65px;
		top: 5px;
	}
}
@media screen and (max-width: 561px) {
	.log {
		width: 13%;
		padding-left: 15%;
		font-size: 16px;
	}
	li {
		padding: 0 5px;
	}
	.nav {
		width: 65%;
	}
}
@media screen and (max-width: 499px) {
	.nav {
		width: 60%;
		margin-left: 70px;
	}
	ul {
		padding-left: 0;
	
	}
	.log {
		padding-left: 10%;
	}

}
@media screen and (max-width: 474px) {
	.nav {
		width: 65%;
	}
	.log {
		padding-left: 5%;
	}

}
@media screen and (max-width: 463px) {
	li {
		font-size: 18px;
	}
	.log {
		font-size: 16px;
		padding-left: 3%;
	}
	ul {
		padding-top:10%;
	}
}
@media screen and (max-width: 400px) {
	li {
		font-size: 16px;
	}
	.log {
		font-size: 14px;
		padding-left: 0;
	}
	.nav {
		width: 65%;
	}
}
@media screen and (max-width: 375px) {
	.logo {
		width: 60px;
	}
	.nav {
		width: 60%;
		margin-left: 60px;
	}
	li {
		padding: 0 3px;
	}
	.log {
		width: 13%;
		padding-left: 20px;
		padding-top: 20px;
	}
}
@media screen and (max-width: 360px) {
	.nav {
		width: 65%;
	}
	.log {
		padding-left: 10px;
	}
}

@media screen and (max-width: 320px) {
	li {
		font-size: 14px;
	}
	.log {
		font-size: 12px;
		padding-left: 0;
	}
	ul {
		padding-top:12%;
	}
	.button1, .button2 {
		width: 170px;
		font-size: 20px;
	}
}
/**************
   HOME PAGE
**************/
@media screen and (max-width: 1210px) {
	.button1 {
		margin-left: 10%;
	}
	.text-wrapper1 {
		width: 70%;
	}
}
@media screen and (max-width: 1050px) {
	.title {
		font-size: 70px;
	}
	.button1 {
		margin-left: 8%;
	}
}
@media screen and (max-width: 950px) {
	.button1 {
		margin-right: 5%;
		margin-left: 6%;
	}
	.grey-box  {
		width: 88%; 
	}
	.about-title, .about-info {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	.about-title, .left {
		height: 50vh;
	}
	.about-info {
		height: 90vh;
	}
	.title2, .w-title {
		padding-top: 15%;
	}
	.why, .contact {
		display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}
	.row {
		padding-top: 5%;
	}

	.text-wrapper1 {
		padding-top: 10%;
	}
	.profile {
		width: 20%;
	}
	.jared {
		padding-top: 0;
	}
	.text-wrapper {
		padding-top: 5%;
	}
}

@media screen and (max-width: 850px) {
	.title {
		font-size: 60px;
		padding-top: 5%;
	}
	.grey-box  {
		height: 500px; 
	}
	.button1, .button2 {
		display: block;
		margin: 0 auto;
	}
	.button2 {
		margin-top: 5%;
	}
}
@media screen and (max-width: 695px) {
	.title {
		padding-top: 0;
	}
}
@media screen and (max-width: 600px) {
	.about-title, .left {
		height: 30vh;
	}
	.about-info {
		height: 70vh;
	}
	.title2 {
		padding-top: 15%;
	}
	.w-title {
		padding-top: 5%;
	}
	.jared p, .grant p {
		font-size: 14px;
		padding-top: 0;
	}
	.text-wrapper1 {
		padding-top: 0;
		width: 80%;
	}
	.profile {
		width: 20%;
	}
	.jared {
		padding-top: 0;
	}
	.grant {
		padding-top: 5%;
	}
	.text-wrapper {
		padding-top: 0;
		padding-bottom: 5%;
	}
}
@media screen and (max-width: 510px) {
	.text-wrapper1 {
		font-size: 14px;
		padding-top: 10px;
	}
	.w-title {
		font-size: 70px;
	}
	.row {
		padding-top: 10%;
	}
	.title2 {
		font-size: 80px;
	}
}
@media screen and (max-width: 500px) {
	.title {
		font-size: 50px;
		padding-top: 0;
	}
	.subtitle {
		font-size: 26px;
	}
	.text-wrapper1 {
		width: 90%;
		padding-top: 0;
	}
	.how {
		margin-top: 2%;
	}
	.bio-text {
		width: 80%;
	}
	.jared p, .grant p {
		font-size: 13px;
		margin-top: 5px;
	}
	.jared h1, .grant h1 {
		font-size: 18px;
	}
	.grant {
		padding-top: 10%;
	}
}
@media screen and (max-width: 400px) {
	.grey-box {
		top: 20%;
		height: 450px;
	}

	.profile {
		padding-top: 10%;
	}
	.mission p, .how p, .jared p, .grant p, .contact-form p {
		font-size: 12px;
	}
	.w-title {
		font-size: 60px;
	}
}
@media screen and (max-width: 360px) {
	.row {
		padding-top: 5%;
	}
}
@media screen and (max-width: 320px) {
	.button1, .button2 {
		width: 170px;
		font-size: 20px;
	}
	.title {
		font-size: 40px;
	}
	.subtitle {
		font-size: 20px;
	}
	.grey-box {
		height: 400px;
	}
	.mission p, .how p, .jared p, .grant p, .contact-form p {
		font-size: 11px;
	}
	.w-title {
		font-size: 35px;
		padding-top: 20%;
	}
	.wrapper p {
		font-size: 12px;
	}
	.grant {
		padding-top: 5%;
	}
}